.change {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 400px;
    margin-right: 20px;
    margin-top: 60px;
    padding-top: 30px;
    /* border-radius: 8px;
    background-color: #FFF;
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px; */
}

.pwd {
    float: left;
}

#sub,
#reset {
    width: 80px;
    height: 40px;
    margin-left: 10px;
    align-items: center;
}

.change>.form-control {
    width: 90%;
}

.btn {
    margin-left: 77px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.f>a {
    text-decoration: none;
}

.view {
    margin-top: 5px;
    margin-left: 5px;
    color: black;
}

.f>a:active {
    color: red;
}

a:link {
    color: black;
}